


NEXT_PUBLIC_POSTHOG_KEY=<ph_project_api_key>
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
NEXT_PUBLIC_GOOGLE_ANALYTICS=~



## for local dev
NOTION_TOKEN=secret

NOTION_BLOG_DATABASE_ID=dbid

NOTION_PORTFOLIO_DATABASE_ID=portfolio_notion_db_id
NOTION_PAGE_DATABASE_ID=page_notion_db_id
NOTION_POST_DATABASE_ID=blogpost_notion_db_id

AUTH_SECRET="" # Add via `npx auth`. Read more: https://cli.authjs.dev

AUTH_RESEND_KEY=secret


DATABASE_HOST=127.0.0.1
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=gradientascent


YOUTUBE_DATAPI='api_key'



# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=main
XATA_API_KEY=secret




